<section id="banner">
  <div class="inner">
    <div class="logo">
      <span style="background-image: url('https://www.gravatar.com/avatar/169e2894136b294c764c1b59497ae88d?s=100&r=pg&d=404'); width: 5em; height: 5em; display: block; border-radius: 100%;background-position: right;background-repeat: no-repeat;background-size: cover;"></span>
    </div>
    <h2>
      Javier Junquera Sánchez
      <div class="subtitle mail">{{ site.email }}</div>
    </h2>
    <p>Ingeniero informático apasionado por el desarrollo y la ciberseguridad</p>
    <div class="networks">
      <a target="_blank" href="mailto:{{ site.email }}" class="icon fa-envelope"><span class="label">Send mail</span></a>

      <a target="_blank" href="https://github.com/{{ site.github_username }}" class="icon fa-github"><span class="label">GitHub</span></a>

      <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="icon fa-linkedin"><span class="label">LinkedIn</span></a>

    </div>
  </div>
</section>
