<ul class="contact">
  <!-- <li class="fa-home">
    Untitled Inc<br />
    1234 Somewhere Road Suite #2894<br />
    Nashville, TN 00000-0000
  </li> -->
  <!-- <li class="fa-phone">(000) 000-0000</li> -->
  <li class="fa-envelope"><a target="_blank" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
  <li class="fa-github"><a target="_blank" href="https://github.com/{{ site.github_username }}">https://github.com/{{ site.github_username }}</a></li>
  <li class="fa-linkedin"><a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">https://www.linkedin.com/in/{{ site.linkedin_username }}</a></li>
  <!-- <li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li> -->
</ul>
