<div class="inner">
  <h2 class="major">Contacto</h2>
  <p>Si quieres contactar conmigo, escribe tu mensaje a continuación y me pondré en contacto lo antes posible. Si lo prefieres, también puedes hacerlo directamente a través de mi dirección de correo electrónico, mi cuenta de Github o mi LinkedIn.</p>
  <form method="post" action="#">
    <div class="field">
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" />
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
    </div>
    <div class="field">
      <label for="message">Mensaje</label>
      <textarea name="message" id="message" rows="4"></textarea>
    </div>
    <ul class="actions">
      <li><input type="submit" value="Enviar" /></li>
    </ul>
  </form>
  <ul class="contact">
    <!-- <li class="fa-home">
      Untitled Inc<br />
      1234 Somewhere Road Suite #2894<br />
      Nashville, TN 00000-0000
    </li> -->
    <!-- <li class="fa-phone">(000) 000-0000</li> -->
    <li class="fa-envelope"><a target="_blank" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    <li class="fa-github"><a target="_blank" href="https://github.com/{{ site.github_username }}">https://github.com/{{ site.github_username }}</a></li>
    <li class="fa-linkedin"><a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">https://www.linkedin.com/in/{{ site.linkedin_username }}</a></li>
    <!-- <li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li> -->
  </ul>
</div>
