<div class="inner">
  <h2 class="major">Contacto</h2>
  {% if page.main %}
    <p>Si quieres contactar conmigo, escribe tu mensaje a continuación y me pondré en contacto lo antes posible. Si lo prefieres, también puedes hacerlo directamente a través de mi dirección de correo electrónico, mi cuenta de Github o mi LinkedIn.</p>
    <form method="post" action="#">
      <div class="field">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Mensaje</label>
        <textarea name="message" id="message" rows="4"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Enviar" /></li>
      </ul>
    </form>
  {% endif %}
  {% include contact_networks.html %}

</div>
