<ul class="contact">
  <!-- <li class="fa-home">
    Untitled Inc<br />
    1234 Somewhere Road Suite #2894<br />
    Nashville, TN 00000-0000
  </li> -->
  <!-- <li class="fa-phone">(000) 000-0000</li> -->
  <li class="fa-envelope"><a target="_blank" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
  <li class="fa-github"><a target="_blank" href="https://github.com/{{ site.github_username }}">https://github.com/{{ site.github_username }}</a></li>
  <li class="fa-linkedin"><a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">https://www.linkedin.com/in/{{ site.linkedin_username }}</a></li>
  <!-- <li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li> -->

  <!-- But not very active...
  <a href="https://internetdefenseleague.org"><img src="https://internetdefenseleague.org/images/badges/final/shield_badge.png" alt="Member of The Internet Defense League"/></a>
  <script type="text/javascript">
  window._idl = {};
  _idl.variant = "modal";
  (function() {
    var idl = document.createElement('script');
    idl.async = true;
    idl.src = 'https://members.internetdefenseleague.org/include/?url=' + (_idl.url || '') + '&campaign=' + (_idl.campaign || '') + '&variant=' + (_idl.variant || 'modal');
    document.getElementsByTagName('body')[0].appendChild(idl);
  })();
  </script>
  -->
</ul>
